.container {
  padding: 10px;
  height: 260px;
}
.image {
  height: 55%;
  border-radius: 25px;
}
.text {
  width: 110px;
  color: rgb(240, 248, 255);
}
@media screen and (max-width: 700px) {
  .container {
    height: 230px;
  }
}
