.topContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.root {
  text-align: center;
  margin-top: 10%;
}
.rightContent {
  width: 40%;
  text-align: left;
  color: aliceblue;
}
.title {
  margin-bottom: 10%;
}
.line {
  border-width: 0;
  border-top-width: 2px;
}
.reviewContainer {
  text-align: left;
  margin-top: 10%;
  background-color: rgb(221, 118, 118);
}
@media screen and (max-width: 800px) {
  .topContainer {
    flex-direction: column;
  }
  .rightContent {
    margin: auto;
  }
}
