.topContainer {
  display: flex;
  justify-content: space-evenly;

  height: 500px;
}

.root {
  text-align: center;
}
.rightContent {
  width: 50%;
  margin-left: 50px;
  text-align: left;
  height: 80%;
  color: aliceblue;
}
.title {
  margin-bottom: 10%;
}
.line {
  border-width: 0;
  border-top-width: 2px;
}
.reviewContainer {
  text-align: left;
  margin-top: 10%;
  background-color: rgb(221, 118, 118);
  border-radius: 25px;
}
.poster {
  height: 65%;
}

@media screen and (max-width: 800px) {
  .topContainer {
    justify-content: center;
    flex-direction: column;
  }
  .rightContent {
    margin: auto;
  }
}
