.root {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  height: 800px;
  overflow-y: auto;
  text-align: center;
}
.root::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

